body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: makes it look sleek */
}
